{
  "env": { "browser": true, "node": true },
  "parser": "babel-eslint",
  "parserOptions": { "sourceType": "module" },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "array-bracket-spacing": [
      "error",
      "always",
      {
        "objectsInArrays": false,
        "singleValue": true,
        "arraysInArrays": false
      }
    ]
  },
  "plugins": ["react"],
  "extends": "eslint-config-egg"
}
